@font-face {
    font-family: "fontello";
    src: url("fonts/fontello.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Italic";
    font-weight: italic;
    src: url("fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    font-weight: bold;
    src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    font-weight: bold;
    src: url("fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "RobotoMono-Bold";
    font-weight: bold;
    src: url("fonts/RobotoMono-Bold.ttf");
}

.root {
    -fx-font-family: "Roboto";
    -fx-font-size: 12;
}

.logo {
    -fx-font-family: "Roboto Condensed";
    -fx-font-weight: bold;
    -fx-font-size: 37px;
    -fx-text-fill: #fca000;
    -fx-padding: -4 0 0 0;
    -fx-effect: innershadow(one-pass-box, #713e00, 1, 0, -1, -1);
}

.sub-logo {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #00b32a;
    -fx-padding: -9 0 0 1;
    -fx-text-alignment: left;
}

.version {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 11px;
    -fx-text-fill: #828282;
    -fx-padding: -6 0 0 0;
    -fx-alignment: center-right;
}

.dash-tabs {
    -fx-padding: 0 0 -1 0;
}

.dash-tabs .tab {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-focus-color: transparent;
    -fx-text-alignment: center;
    -fx-padding: 10;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.dash-tabs .tab-label {
    -fx-text-fill: #909090;
}

.dash-tabs .tab:selected .tab-label {
    -fx-text-fill: #242424;
}

.dash-tabs .tab-header-area {
    -fx-padding: -3 0 10 0;
}

.status-bar {
    -fx-background-color: #dddddd;
}

.corner-status {
    -fx-border-color: #b5b5b5;
    -fx-border-width: 1 1 0 0;
    -fx-background-color: #dddddd;
}

.rates {
    -fx-font-family: "fontello";
    -fx-text-fill: #5a5a5a;
    -fx-font-size: 16px;
    -fx-text-alignment: left;
}

.log-view {
    -fx-border-color: #b5b5b5;
    -fx-border-width: 1 0 1 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.content {
    -fx-padding: 10 10 11 10;
    -fx-spacing: 10;
}


/*Remove hover glow on TableViews*/
.table-view:focused {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 1, 0, 1;
    -fx-background-radius: 1, 0, 0;
    -fx-padding: 1;
}


/*Remove hover glow on TitledPanes*/
.titled-pane > .title:hover > .button {
    -fx-color: -fx-base;
}

.titled-pane > .title:hover > .button:hover {
    -fx-color: -fx-hover-base;
}

.titled-pane > .title:hover > .button:armed {
    -fx-color: -fx-pressed-base;
}

/*
.log-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #dddddd;
}

.log-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled {
    -fx-background-color: #dddddd;
}*/
